# ~/.npmrc File
registry=https://registry.npmmirror.com/
# Set up Electron’s image separately
electron_mirror=https://cdn.npmmirror.com/binaries/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/